#### 1. Import pandas library

In [9]:
import pandas as pd

#### 2. Import users table:

In [10]:
users = pd.read_csv("users_table.csv")
users.head(2)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN

#### 3. Rename Id column to userId

In [11]:
users.rename(columns = {'Id':'userId'}, inplace = True)
users.head(2)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN

#### 4. Import posts table:

In [12]:
posts = pd.read_csv("posts_table.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId

In [13]:
posts.rename(columns = {'Id':'postId','OwnerUserId':'userId'}, inplace = True)
posts.head(2)

print(users.columns)
print(posts.columns)

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')
Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [14]:
users1 = users[['userId', 'Reputation', 'Views','UpVotes','DownVotes']].copy()
posts1 = posts[['postId', 'Score', 'userId','ViewCount','CommentCount']].copy()

print(users1.columns)
print(posts1.columns)
posts1.head()

Index(['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes'], dtype='object')
Index(['postId', 'Score', 'userId', 'ViewCount', 'CommentCount'], dtype='object')

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [15]:
ult_dp = pd.merge(users1, posts1, left_index=True, right_index=True)
ult_dp.head()

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
0,-1,1,0,5007,1920,1,23,8.0,1278.0,1
1,2,101,25,3,0,2,22,24.0,8198.0,1
2,3,101,22,19,0,3,54,18.0,3613.0,4
3,4,101,11,0,0,4,13,23.0,5224.0,2
4,5,6792,1145,662,5,5,81,23.0,NaN,3

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [16]:
print(ult_dp["userId_x"].isnull().value_counts())
print(ult_dp["Reputation"].isnull().value_counts())
print(ult_dp["Views"].isnull().value_counts())
print(ult_dp["UpVotes"].isnull().value_counts())
print(ult_dp["DownVotes"].isnull().value_counts())
print(ult_dp["postId"].isnull().value_counts())
print(ult_dp["Score"].isnull().value_counts())
print(ult_dp["userId_y"].isnull().value_counts())
print(ult_dp["CommentCount"].isnull().value_counts())
print(ult_dp["ViewCount"].isnull().value_counts())
print(ult_dp["CommentCount"].isnull().value_counts())

False    40000
Name: userId_x, dtype: int64
False    40000
Name: Reputation, dtype: int64
False    40000
Name: Views, dtype: int64
False    40000
Name: UpVotes, dtype: int64
False    40000
Name: DownVotes, dtype: int64
False    40000
Name: postId, dtype: int64
False    40000
Name: Score, dtype: int64
False    38962
True      1038
Name: userId_y, dtype: int64
False    40000
Name: CommentCount, dtype: int64
True     24105
False    15895
Name: ViewCount, dtype: int64
False    40000
Name: CommentCount, dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [19]:
# 3 columns have missing values: Score, CommentCount and userId_y

# for the score we can replace the values with a mean score of the existing values:

ult_dp['Score'] = ult_dp['Score'].fillna(ult_dp['Score'].mean(), inplace=True)
ult_dp['CommentCount'] = ult_dp['CommentCount'].fillna(ult_dp['CommentCount'].mean(), inplace=True)
ult_dp['ViewCount'] = ult_dp['ViewCount'].fillna(ult_dp['ViewCount'].mean(), inplace=True)

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [24]:
# we can change the View count to int as well since the number of views will always be a whole number

ult_dp["ViewCount"] = ult_dp["ViewCount"].astype(int)